extends layout

block content
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/javascripts/homePage.js')
    link(href="/javascripts/c3/c3.css" rel="stylesheet" type="text/css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    script(src='/javascripts/d3/d3.js')
    script(src='/javascripts/c3/c3.js')
    link(href='/stylesheets/homePage.css', rel='stylesheet')
    //h2.header Welcome To The Home Page
    //Percentage of each workout to totals
    div#pieChartBlock.chartBlock
        span Percentage of Exercises in Workouts
        div#pieChart.pieChart
    div#barChartBlock.chartBlock
        span Average Weight Per Rep
        div#barChart.barChart
    div#lineChartBlock.chartBlock
        span Weight Over Time
        div#lineChart.lineChart
    div.tableBlock
        table.table
            tr
                th Average Calories Per Day
            tr
                td 2500
        table.table
            tr
                th Average Protein Per Day
            tr
                td 50
        table.table
            tr
                th Average Sugar Per Day
            tr
                td 22
    div#addWorkoutForm.addForm(hidden="true")
        h2.formTitle Add A Workout
        div.formInput
            span Exercise
            br
            input#exerciseName(type="text")
        div.formInput
            span Sets
            br
            input#numSets(type="text")
        div.formInput
            span Reps
            br
            input#numReps(type="text")
        div.formInput
            span Weight
            br
            input#weight(type="text") 
        br
        button#addExerciseButton.addMoreFieldsButton Add Exercise
        button#addWorkoutButton.submitAdditionsButton Add Workout
    div#addMealForm.addForm(hidden="true")
        h2.formTitle Add A Meal
        div.formInput
            span Food
            br
            input#foodName(type="text")
        div.formInput
            span Calories
            br
            input#calories(type="text")
        div.formInput
            span Protein
            br
            input#protein(type="text")
        div.formInput
            span Sugar
            br
            input#sugar(type="text") 
        br
        button#addFoodButton.addMoreFieldsButton Add Food
        button#addMealButton.submitAdditionsButton Add Meal