doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#icons.toolbarIcons(hidden="true")
      img#addWorkoutIcon.toolbarIcon(src="/images/dumbbell.svg")
      img#addMealIcon.toolbarIcon(src="/images/juice.svg")
      img#logoutIcon.toolbarIcon(src="/images/locker.svg")
    div.toolbar
      span.toolbarText Fitness Tracker
    div.sidebar
    div#shadow.shadow(hidden="true")
    textarea#userStorage
    block content