extends layout

block content
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/javascripts/loginPage.js')
    link(href='/stylesheets/loginPage.css', rel='stylesheet')
    div.credentialsField
        div.field
            span Username
            br
            input#username.inputField(type="text")
            br
        div.field
            span Password
            br
            input#password.inputField(type="text")
            br
        button#loginButton Login
        br
        span#forgotPassword.clickableText Forgot Password?
        br
        span#register.clickableText Register for Account
    div.descriptionField
        h2.descriprionHeader How It Started
        span.description I love fitness... I hate tracking my fitness goals on my own. I got tired of logging my workouts into a boring excel sheet and as a new software developer, I decided to build something to test my abilities and maybe learn a thing or two. This will show intense analytics regarding your own fitness goals and allow you to track your progress over time.
        br
        span.signature - Seth Theeke
    div#forgotPasswordForm.loginPageForm(hidden="true")
        h2.formTitle Forgot Your Password
        div.formInput
            span Enter The Email Linked To The Account
            br
            input#forgotPasswordEmailInput(type="text")
        br
        button#sendResetPasswordEmail.loginPageFormButton Reset Password
    div#registerNewUserForm.loginPageForm(hidden="true")
        h2.formTitle Become A User For Free
        div.formInput
            span Email
            br
            input#newUserEmail(type="text")
        br
        div.formInput
            span Password
            br
            input#newUserPassword(type="text")
        br
        div.formInput
            span Confirm Password
            br
            input#newUserConfirmPassword(type="text")
        br
        button#registerNewUserButton.loginPageFormButton Register!

