extends layout

block content
    div#loginPage
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
        script(src='/javascripts/main.js')
        link(href='/stylesheets/main.css', rel='stylesheet')
        link(href="/javascripts/c3/c3.css" rel="stylesheet" type="text/css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        script(src='/javascripts/d3/d3.js')
        script(src='/javascripts/c3/c3.js')
        div.credentialsField
            div.field
                span Username
                br
                input#username.inputField(type="text")
                br
            div.field
                span Password
                br
                input#password.inputField(type="password")
                br
            button#loginButton Login
            br
            span#forgotPassword.clickableText Forgot Password?
            br
            span#register.clickableText Register for Account
            br
            span#userNotAuthenticated(hidden="true") Invalid Credentials, Please try again or recover your password
        div.descriptionField
            h2.descriprionHeader How It Started
            span.description I love fitness... I hate tracking my fitness goals on my own. I got tired of logging my workouts into a boring excel sheet and as a new software developer, I decided to build something to test my abilities and maybe learn a thing or two. This will show intense analytics regarding your own fitness goals and allow you to track your progress over time.
            br
            span.signature - Seth Theeke
        div#forgotPasswordForm.loginPageForm(hidden="true")
            h2.formTitle Forgot Your Password
            div.formInput
                span Enter The Email Linked To The Account
                br
                input#forgotPasswordEmailInput(type="text")
            br
            button#sendResetPasswordEmail.loginPageFormButton Reset Password
        div#registerNewUserForm.loginPageForm(hidden="true")
            h2.formTitle Become A User For Free
            div.formInput
                span Email
                br
                input#newUserEmail(type="text")
            br
            div.formInput
                span Password
                br
                input#newUserPassword(type="password")
            br
            div.formInput
                span Confirm Password
                br
                input#newUserConfirmPassword(type="password")
            br
            button#registerNewUserButton.loginPageFormButton Register!
    div#homePage(hidden="true")
        div#pieChartBlock.chartBlock
            span Percentage of Exercises in Workouts
            div#pieChart.pieChart
        div#barChartBlock.chartBlock
            span Average Weight Per Rep
            div#barChart.barChart
        div#lineChartBlock.chartBlock
            span Weight Over Time
            div#lineChart.lineChart
        div.tableBlock
            table.table
                tr
                    th Average Calories Per Day
                tr
                    td 2500
            table.table
                tr
                    th Average Protein Per Day
                tr
                    td 50
            table.table
                tr
                    th Average Sugar Per Day
                tr
                    td 22
        div#addWorkoutForm.addForm(hidden="true")
            h2.formTitle Add A Workout
            div#exerciseForm1
                div.formInput
                    span Exercise
                    br
                    input#exerciseName1(type="text")
                div.formInput
                    span Sets
                    br
                    input#numSets1(type="text")
                div.formInput
                    span Reps
                    br
                    input#numReps1(type="text")
                div.formInput
                    span Weight
                    br
                    input#weight1(type="text") 
                    br
            div#exerciseForm2(hidden="true")
                div.formInput
                    span Exercise
                    br
                    input#exerciseName2(type="text")
                div.formInput
                    span Sets
                    br
                    input#numSets2(type="text")
                div.formInput
                    span Reps
                    br
                    input#numReps2(type="text")
                div.formInput
                    span Weight
                    br
                    input#weight2(type="text") 
                    br
            div#exerciseForm3(hidden="true")
                div.formInput
                    span Exercise
                    br
                    input#exerciseName3(type="text")
                div.formInput
                    span Sets
                    br
                    input#numSets3(type="text")
                div.formInput
                    span Reps
                    br
                    input#numReps3(type="text")
                div.formInput
                    span Weight
                    br
                    input#weight3(type="text") 
                    br
            div#exerciseForm4(hidden="true")
                div.formInput
                    span Exercise
                    br
                    input#exerciseName4(type="text")
                div.formInput
                    span Sets
                    br
                    input#numSets4(type="text")
                div.formInput
                    span Reps
                    br
                    input#numReps4(type="text")
                div.formInput
                    span Weight
                    br
                    input#weight4(type="text") 
                    br
            div#exerciseForm5(hidden="true")
                div.formInput
                    span Exercise
                    br
                    input#exerciseName5(type="text")
                div.formInput
                    span Sets
                    br
                    input#numSets5(type="text")
                div.formInput
                    span Reps
                    br
                    input#numReps5(type="text")
                div.formInput
                    span Weight
                    br
                    input#weight5(type="text") 
                    br
            div#exerciseForm6(hidden="true")
                div.formInput
                    span Exercise
                    br
                    input#exerciseName6(type="text")
                div.formInput
                    span Sets
                    br
                    input#numSets6(type="text")
                div.formInput
                    span Reps
                    br
                    input#numReps6(type="text")
                div.formInput
                    span Weight
                    br
                    input#weight6(type="text") 
                    br
            div#exerciseForm7(hidden="true")
                div.formInput
                    span Exercise
                    br
                    input#exerciseName7(type="text")
                div.formInput
                    span Sets
                    br
                    input#numSets7(type="text")
                div.formInput
                    span Reps
                    br
                    input#numReps7(type="text")
                div.formInput
                    span Weight
                    br
                    input#weight7(type="text") 
                    br
            div#exerciseForm8(hidden="true")
                div.formInput
                    span Exercise
                    br
                    input#exerciseName8(type="text")
                div.formInput
                    span Sets
                    br
                    input#numSets8(type="text")
                div.formInput
                    span Reps
                    br
                    input#numReps8(type="text")
                div.formInput
                    span Weight
                    br
                    input#weight8(type="text") 
                    br
            button#addExerciseButton.addMoreFieldsButton Add Exercise
            button#addWorkoutButton.submitAdditionsButton Add Workout
        div#addMealForm.addForm(hidden="true")
            h2.formTitle Add A Meal
            div#foodForm1
                div.formInput
                    span Food
                    br
                    input#foodName1(type="text")
                div.formInput
                    span Calories
                    br
                    input#calories1(type="text")
                div.formInput
                    span Protein
                    br
                    input#protein1(type="text")
                div.formInput
                    span Sugar
                    br
                    input#sugar1(type="text") 
                    br
            div#foodForm2(hidden="true")
                div.formInput
                    span Food
                    br
                    input#foodName2(type="text")
                div.formInput
                    span Calories
                    br
                    input#calories2(type="text")
                div.formInput
                    span Protein
                    br
                    input#protein2(type="text")
                div.formInput
                    span Sugar
                    br
                    input#sugar2(type="text") 
                    br
            div#foodForm3(hidden="true")
                div.formInput
                    span Food
                    br
                    input#foodName3(type="text")
                div.formInput
                    span Calories
                    br
                    input#calories3(type="text")
                div.formInput
                    span Protein
                    br
                    input#protein3(type="text")
                div.formInput
                    span Sugar
                    br
                    input#sugar3(type="text") 
                    br
            div#foodForm4(hidden="true")
                div.formInput
                    span Food
                    br
                    input#foodName4(type="text")
                div.formInput
                    span Calories
                    br
                    input#calories4(type="text")
                div.formInput
                    span Protein
                    br
                    input#protein4(type="text")
                div.formInput
                    span Sugar
                    br
                    input#sugar4(type="text") 
                    br
            div#foodForm5(hidden="true")
                div.formInput
                    span Food
                    br
                    input#foodName5(type="text")
                div.formInput
                    span Calories
                    br
                    input#calories5(type="text")
                div.formInput
                    span Protein
                    br
                    input#protein5(type="text")
                div.formInput
                    span Sugar
                    br
                    input#sugar5(type="text") 
                    br
            div#foodForm6(hidden="true")
                div.formInput
                    span Food
                    br
                    input#foodName6(type="text")
                div.formInput
                    span Calories
                    br
                    input#calories6(type="text")
                div.formInput
                    span Protein
                    br
                    input#protein6(type="text")
                div.formInput
                    span Sugar
                    br
                    input#sugar6(type="text") 
                    br
            div#foodForm7(hidden="true")
                div.formInput
                    span Food
                    br
                    input#foodName7(type="text")
                div.formInput
                    span Calories
                    br
                    input#calories7(type="text")
                div.formInput
                    span Protein
                    br
                    input#protein7(type="text")
                div.formInput
                    span Sugar
                    br
                    input#sugar7(type="text") 
                    br
            div#foodForm8(hidden="true")
                div.formInput
                    span Food
                    br
                    input#foodName8(type="text")
                div.formInput
                    span Calories
                    br
                    input#calories8(type="text")
                div.formInput
                    span Protein
                    br
                    input#protein8(type="text")
                div.formInput
                    span Sugar
                    br
                    input#sugar8(type="text") 
                    br
            button#addFoodButton.addMoreFieldsButton Add Food
            button#addMealButton.submitAdditionsButton Add Meal
