.header{
	color:red;
}

.chartBlock{
	display: inline-block;
	text-align: center;
}

.tableBlock{
	display: inline-block;
	float:right;
	padding: 40px;
}

.pieChart{
	width:300px;
	height:auto;
	padding: 20px;
}

.barChart{
	width:700px;
	height:auto;
	padding: 15px;
}

.lineChart{
	width: 800px;
	height: 300px;
	padding: 20px;
}

.table{
}

.formTitle{
	padding-left: 15px;
}

.addForm{
    position: absolute;
    width: 750px;
    height: 400px;
    top: 200px;
    left: 400px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 5px #464646;
    border: 2px solid grey;
}

.formInput{
	display: inline-block;
	padding: 0 15px;
}

.addMoreFieldsButton{
	margin: 15px 15px;
}

.submitAdditionsButton{
	position:absolute;
	bottom: 10px;
	right: 10px;
}