.loginBlock{
	display: inline-block;
	text-align: center;
	border-radius: 20px;
	background-color: blue;
	padding: 50px 100px;
}

.loginPageForm{
    position: absolute;
    width: 400px;
    height: 250px;
    top: 200px;
    left: 585px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 5px #464646;
    border: 2px solid grey;
    text-align: center;
}

.loginPageFormButton{
	margin-top: 15px;
}

.formInput{
	display: inline-block;
	padding: 4px 0;
}

.formTitle{
	padding-left: 15px;
}

.inputField{
}

.hide{
	display: none;
}

.credentialsField{
	padding: 50px;
	display: inline-block;
}

.field{
	padding-bottom: 15px;
}

.descriptionField{
	text-align: center;
    display: inline-block;
    width: 700px;
    float: right;
    padding-right: 50px;
    padding-top: 50px;
}

.descriprionHeader{

}

.signature{
    float: right;
    font-size: 20px;
}

.description{

}

.clickableText{
	text-decoration: underline;
	color: blue;
	font-size: 10px;
}

.clickableText:hover{
	cursor: pointer;
}