.loginBlock{
	display: inline-block;
	text-align: center;
	border-radius: 20px;
	background-color: blue;
	padding: 50px 100px;
}

.loginPageForm{
    position: absolute;
    width: 400px;
    height: 250px;
    top: 200px;
    left: 585px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 5px #464646;
    border: 2px solid grey;
    text-align: center;
}

.loginPageFormButton{
	margin-top: 15px;
}

.formInput{
	display: inline-block;
	padding: 4px 0;
}

.formTitle{
	padding-left: 15px;
}

.inputField{
}

.hide{
	display: none;
}

.credentialsField{
	padding: 50px;
	display: inline-block;
}

.field{
	padding-bottom: 15px;
}

.descriptionField{
	text-align: center;
    display: inline-block;
    width: 500px;
    float: right;
    padding-right: 50px;
    padding-top: 50px;
}

.descriprionHeader{

}

.signature{
    float: right;
    font-size: 20px;
}

.description{

}

.clickableText{
	text-decoration: underline;
	color: blue;
	font-size: 10px;
}

.clickableText:hover{
	cursor: pointer;
}

.header{
	color:red;
}

.chartBlock{
	display: inline-block;
	text-align: center;
}

.tableBlock{
	display: inline-block;
	float:right;
	padding: 40px;
}

.pieChart{
	width:300px;
	height:auto;
	padding: 20px;
}

.barChart{
	width:700px;
	height:auto;
	padding: 15px;
}

.lineChart{
	width: 800px;
	height: 300px;
	padding: 20px;
}

.table{
}

.formTitle{
	padding-left: 15px;
}

.addForm{
    position: absolute;
    width: 750px;
    height: 400px;
    top: 200px;
    left: 400px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 5px #464646;
    border: 2px solid grey;
}

.formInput{
	display: inline-block;
	padding: 0 15px;
}

.addMoreFieldsButton{
	margin: 15px 15px;
}

.submitAdditionsButton{
	position:absolute;
	bottom: 10px;
	right: 10px;
}

#userNotAuthenticated{
	color: red;
	font-size: 12px;
}