body {
  margin:0;
}

.shadow{
    background-color: black;
    width: 100%;
    height: 725px;
    position: absolute;
    top: 75px;
    opacity: 0.5;
}

.toolbar{
    width: 100%;
    background-color: #2b3833;
    color: white;
    font-weight: bolder;
    font: 57px "Lucida Grande", Helvetica, Arial, sans-serif;
    height: 75px;
}

.toolbarText{
    padding-left: 5px;
}

.sidebar{
	float: left;
    height: 725px;
    width: 20%;
    background-color: #89f4cf;
    background-image: url("../images/sidebar.png");
    display: inline-block;
}

.toolbarIcons{
    position: absolute;
    top: 15px;
    right: 5px;
}

.toolbarIcon{
    height:42px;
    width:42px;
    padding: 0 10px;
}

.toolbarIcon:hover{
    cursor: pointer;
}

button{
    border-color: #c0c5c3;
    background-color: #c0c5c3;
    color: white;
    outline: none;
    height: 25px;
    width: 100px;
    border-radius: 10px;
}

button:hover{
    cursor: pointer;
    color:#c0c5c3;
    background-color: white;
}